.strike-home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    &__header{
        display: flex;
        flex-direction: row;
        color: #43425D;
        font-size: 22px;
        line-height: 30px;
        font-family: "Avenir";
        margin-bottom: 30px;
    }
    &__grids{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        &-grid{
            border: 0.2px solid transparent;
            transition: 0.2s linear all;
            display: flex;
            flex-direction: column;
            padding: 20px;
            -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
            -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
            box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
            background-color: white;
            cursor: pointer;
            &-title{
                color: #43425D;
                opacity: 0.5;
                font-size: 22px;
                line-height: 37px;
                font-family: "Avenir";
                margin-bottom: 20px;
            }
            &-bottom{
                display: flex;
                flex-direction: row;
                align-items: center;
                &-number{
                    color: #4D4F5C;
                    font-size: 25px;
                    font-family: "Avenir";
                    font-weight: 600;
                }
                &-icon{
                    width: 112px;
                    height: 40px;
                    margin-left: 60px;
                }
            }
            &:hover{
                border: 0.2px solid rgba(67, 66, 93, 0.5);
            }
        }
    }
    &__map{
        display: flex;
        flex-direction: column;
        padding: 30px;
        background-color: white;
        -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
        -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
        box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
        &-header{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            border-bottom: 3px solid #EBF2F7;
            padding-bottom: 10px;
            &-left{
                display: flex;
                flex-direction: row;
                align-items: center;
                flex: 0.5;
                &-text{
                    font-family: "Rajdhani";
                    font-size: 22px;
                    line-height: 20px;
                    font-weight: bold;
                    color: #333333;
                }
            }
            &-right{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                flex: 0.5;
                &-icon{
                    cursor: pointer;
                    width: 17px;
                    height: 17px;
                }
            }
        }
        &-body{
            display: flex;
            flex-direction: row;
            width: inherit;
            &-map{
                width: 80%;
                height: 320px;
            }
            &-right{
                padding: 20px 30px;
                width: 20%;
                border-radius: 20px;
                -webkit-box-shadow: 0px 2px 6px 5px rgba(0,0,0,0.04);
                -moz-box-shadow: 0px 2px 6px 5px rgba(0,0,0,0.04);
                box-shadow: 0px 2px 6px 5px rgba(0,0,0,0.04);
                display: flex;
                z-index: 10;
                flex-direction: column;
                &-title{
                    font-size: 31px;
                    line-height: 40px;
                    font-family: 'Rajdhani';
                    font-weight: bold;
                    color: #333333
                }
                &-item{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 40px;
                    padding-left: 30px;
                    border-bottom: 1px solid #EBF2F7;
                    &-left{
                        display: flex;
                        flex: 0.5;
                        flex-direction: row;
                        align-items: center;
                        font-size: 16px;
                        line-height: 41px;
                        font-family: 'Rajdhani';
                        color: #333333;
                    }
                    &-right{
                        display: flex;
                        flex: 0.5;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-end;
                        font-size: 12px;
                        line-height: 41px;
                        font-family: 'Roboto';
                        color: #B3B8BD;
                    }
                }
                &-footer{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    color: #508FF4;
                    font-size: 14px;
                    line-height: 22px;
                    font-family: 'Rajdhani';
                    margin-top: 15px;
                    cursor: pointer;
                }
            }
        }
    }
    &__bottom{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        margin-top: 30px;
        &-left{
            padding: 20px;
            display: flex;
            flex-direction: column;
            flex: 0.7;
            background-color: white;
            width: 100%;
            -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
            -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
            box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
            margin-right: 20px;
            &-title{
                margin-bottom: 20px;
                color: #4D4F5C;
                font-size: 18px;
                line-height: 13px;
                font-family: "Avenir";
            }
            &-tableheader{
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 45px;
                background-color: #F5F6FA;
                width: 100%;
                &-product{
                    padding-left: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    flex: 0.45;
                    color: #A3A6B4;
                    font-size: 11px;
                    line-height: 15px;
                    font-family: "Avenir";
                    font-weight: bold;
                }
                &-description{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    flex: 0.25;
                    color: #A3A6B4;
                    font-size: 11px;
                    line-height: 15px;
                    font-family: "Avenir";
                    font-weight: bold;
                }
                &-price{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    flex: 0.15;
                    color: #A3A6B4;
                    font-size: 11px;
                    line-height: 15px;
                    font-family: "Avenir";
                    font-weight: bold;
                }
                &-noorders{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    flex: 0.15;
                    color: #A3A6B4;
                    font-size: 11px;
                    line-height: 15px;
                    font-family: "Avenir";
                    font-weight: bold;
                }
            }
            &-table{
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 80px;
                background-color: #FFFFFF;
                border-bottom: 1px solid #F5F6FA;
                width: 100%;
                transition: 0.2s linear all;
                &-product{
                    padding-left: 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    flex: 0.45;
                    color: #4D4F5C;
                    font-size: 11px;
                    line-height: 15px;
                    font-family: "Avenir";
                    img{
                        margin-right: 15px;
                        width: 42px;
                        height: 42px;
                    }
                    &-text{
                        color: #4D4F5C;
                        font-size: 11px;
                        line-height: 15px;
                        font-family: "Avenir";
                    }
                }
                &-description{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    flex: 0.25;
                    color: #4D4F5C;
                    font-size: 11px;
                    line-height: 15px;
                    font-family: "Avenir";
                }
                &-price{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    flex: 0.15;
                    color: #4D4F5C;
                    font-size: 11px;
                    line-height: 15px;
                    font-family: "Avenir";
                }
                &-noorders{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    flex: 0.15;
                    color: #4D4F5C;
                    font-size: 11px;
                    line-height: 15px;
                    font-family: "Avenir";
                }
                &:hover{
                    background-color: #F5F6FA;
                    cursor: pointer;
                }
            }
        }
        &-right{
            padding: 20px;
            display: flex;
            flex-direction: column;
            flex: 0.3;
            background-color: white;
            width: 100%;
            -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
            -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
            box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
            &-title{
                margin-bottom: 20px;
                color: #4D4F5C;
                font-size: 18px;
                line-height: 13px;
                font-family: "Avenir";
            }
            &-table{
                &-header{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;
                    height: 45px;
                    background-color: #F5F6FA;
                    &-left{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        flex: 0.5;
                        width: 100%;
                        color: #A3A6B4;
                        font-size: 13px;
                        line-height: 18px;
                        font-family: "Avenir";
                        font-weight: bold;
                        padding-left: 20px;
                    }
                    &-right{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-end;
                        flex: 0.5;
                        width: 100%;
                        color: #A3A6B4;
                        font-size: 13px;
                        line-height: 18px;
                        font-family: "Avenir";
                        font-weight: bold;
                        padding-right: 20px;
                    }
                }
                &-item{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;
                    height: 50px;
                    background-color: #FFFFFF;
                    border-bottom: 1px solid #F5F6FA;
                    transition: 0.2s linear all;
                    &-left{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        flex: 0.5;
                        width: 100%;
                        color: #4D4F5C;
                        font-size: 13px;
                        line-height: 18px;
                        font-family: "Avenir";
                        padding-left: 20px;
                    }
                    &-right{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-end;
                        flex: 0.5;
                        width: 100%;
                        color: #4D4F5C;
                        font-size: 13px;
                        line-height: 18px;
                        font-family: "Avenir";
                        padding-right: 20px;
                    }
                    &:hover{
                        background-color: #F5F6FA;
                        cursor: pointer;
                    }
                }
            }
            &-footer{
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 40px;
                color: #FECB2E;
                font-size: 13px;
                line-height: 20px;
                font-family: "Avenir";
                padding-left: 20px;
                cursor: pointer;
            }
        }
    }
}




///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////


@media only screen and (max-width: 700px) {
    .strike-home{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        &__header{
            display: flex;
            flex-direction: row;
            color: #43425D;
            font-size: 22px;
            line-height: 30px;
            font-family: "Avenir";
            margin-bottom: 30px;
        }
        &__grids{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
            &-grid{
                display: flex;
                flex-direction: column;
                padding: 20px;
                -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
                -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
                box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
                background-color: white;
                margin-bottom: 20px;
                width: 100%;
                &-title{
                    color: #43425D;
                    opacity: 0.5;
                    font-size: 22px;
                    line-height: 37px;
                    font-family: "Avenir";
                    margin-bottom: 20px;
                }
                &-bottom{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    &-number{
                        color: #4D4F5C;
                        font-size: 25px;
                        font-family: "Avenir";
                        font-weight: 600;
                    }
                    &-icon{
                        width: 112px;
                        height: 40px;
                        margin-left: 60px;
                    }
                }
            }
        }
        &__map{
            display: flex;
            flex-direction: column;
            padding: 30px;
            background-color: white;
            -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
            -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
            box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
            &-header{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                border-bottom: 3px solid #EBF2F7;
                padding-bottom: 10px;
                &-left{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex: 0.5;
                    &-text{
                        font-family: "Rajdhani";
                        font-size: 22px;
                        line-height: 20px;
                        font-weight: bold;
                        color: #333333;
                    }
                }
                &-right{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    flex: 0.5;
                    &-icon{
                        cursor: pointer;
                        width: 17px;
                        height: 17px;
                    }
                }
            }
            &-body{
                display: flex;
                flex-direction: column;
                width: inherit;
                &-map{
                    width: 80%;
                    height: 320px;
                }
                &-right{
                    padding: 20px 30px;
                    width: 100%;
                    border-radius: 20px;
                    -webkit-box-shadow: 0px 2px 6px 5px rgba(0,0,0,0.04);
                    -moz-box-shadow: 0px 2px 6px 5px rgba(0,0,0,0.04);
                    box-shadow: 0px 2px 6px 5px rgba(0,0,0,0.04);
                    display: flex;
                    z-index: 10;
                    flex-direction: column;
                    &-title{
                        font-size: 31px;
                        line-height: 40px;
                        font-family: 'Rajdhani';
                        font-weight: bold;
                        color: #333333
                    }
                    &-item{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        height: 40px;
                        padding-left: 30px;
                        border-bottom: 1px solid #EBF2F7;
                        &-left{
                            display: flex;
                            flex: 0.5;
                            flex-direction: row;
                            align-items: center;
                            font-size: 16px;
                            line-height: 41px;
                            font-family: 'Rajdhani';
                            color: #333333;
                        }
                        &-right{
                            display: flex;
                            flex: 0.5;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-end;
                            font-size: 12px;
                            line-height: 41px;
                            font-family: 'Roboto';
                            color: #B3B8BD;
                        }
                    }
                    &-footer{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        color: #508FF4;
                        font-size: 14px;
                        line-height: 22px;
                        font-family: 'Rajdhani';
                        margin-top: 15px;
                        cursor: pointer;
                    }
                }
            }
        }
        &__bottom{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin-top: 30px;
            &-left{
                padding: 20px;
                display: flex;
                flex-direction: column;
                flex: 1;
                background-color: white;
                width: 100%;
                -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
                -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
                box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
                margin-bottom: 25px;
                &-title{
                    margin-bottom: 20px;
                    color: #4D4F5C;
                    font-size: 18px;
                    line-height: 13px;
                    font-family: "Avenir";
                }
                &-tableheader{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 45px;
                    background-color: #F5F6FA;
                    width: 100%;
                    &-product{
                        padding-left: 20px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        flex: 0.45;
                        color: #A3A6B4;
                        font-size: 11px;
                        line-height: 15px;
                        font-family: "Avenir";
                        font-weight: bold;
                    }
                    &-description{
                        display: none;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        // flex: 0.4;
                        color: #A3A6B4;
                        font-size: 11px;
                        line-height: 15px;
                        font-family: "Avenir";
                        font-weight: bold;
                    }
                    &-price{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        flex: 0.15;
                        color: #A3A6B4;
                        font-size: 11px;
                        line-height: 15px;
                        font-family: "Avenir";
                        font-weight: bold;
                    }
                    &-noorders{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        flex: 0.4;
                        color: #A3A6B4;
                        font-size: 11px;
                        line-height: 15px;
                        font-family: "Avenir";
                        font-weight: bold;
                    }
                }
                &-table{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 80px;
                    background-color: #FFFFFF;
                    border-bottom: 1px solid #F5F6FA;
                    width: 100%;
                    &-product{
                        padding-left: 10px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        flex: 0.45;
                        color: #4D4F5C;
                        font-size: 11px;
                        line-height: 15px;
                        font-family: "Avenir";
                        img{
                            display: none;
                            // margin-right: 15px;
                            width: 42px;
                            height: 42px;
                        }
                        &-text{
                            color: #4D4F5C;
                            font-size: 11px;
                            line-height: 15px;
                            font-family: "Avenir";
                        }
                    }
                    &-description{
                        display: none;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        // flex: 0.4;
                        color: #4D4F5C;
                        font-size: 11px;
                        line-height: 15px;
                        font-family: "Avenir";
                    }
                    &-price{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-end;
                        flex: 0.15;
                        color: #4D4F5C;
                        font-size: 11px;
                        line-height: 15px;
                        font-family: "Avenir";
                    }
                    &-noorders{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        flex: 0.4;
                        color: #4D4F5C;
                        font-size: 11px;
                        line-height: 15px;
                        font-family: "Avenir";
                    }
                }
            }
            &-right{
                padding: 20px;
                display: flex;
                flex-direction: column;
                flex: 0.3;
                background-color: white;
                width: 100%;
                -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
                -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
                box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
                &-title{
                    margin-bottom: 20px;
                    color: #4D4F5C;
                    font-size: 18px;
                    line-height: 13px;
                    font-family: "Avenir";
                }
                &-table{
                    &-header{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 100%;
                        height: 45px;
                        background-color: #F5F6FA;
                        &-left{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            flex: 0.5;
                            width: 100%;
                            color: #A3A6B4;
                            font-size: 13px;
                            line-height: 18px;
                            font-family: "Avenir";
                            font-weight: bold;
                            padding-left: 20px;
                        }
                        &-right{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-end;
                            flex: 0.5;
                            width: 100%;
                            color: #A3A6B4;
                            font-size: 13px;
                            line-height: 18px;
                            font-family: "Avenir";
                            font-weight: bold;
                            padding-right: 20px;
                        }
                    }
                    &-item{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 100%;
                        height: 50px;
                        background-color: #FFFFFF;
                        border-bottom: 1px solid #F5F6FA;
                        &-left{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            flex: 0.5;
                            width: 100%;
                            color: #4D4F5C;
                            font-size: 13px;
                            line-height: 18px;
                            font-family: "Avenir";
                            padding-left: 20px;
                        }
                        &-right{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-end;
                            flex: 0.5;
                            width: 100%;
                            color: #4D4F5C;
                            font-size: 13px;
                            line-height: 18px;
                            font-family: "Avenir";
                            padding-right: 20px;
                        }
                    }
                }
                &-footer{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    height: 40px;
                    color: #FECB2E;
                    font-size: 13px;
                    line-height: 20px;
                    font-family: "Avenir";
                    padding-left: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}