.strike-navbar{
    background-color: #FFFFFF;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 999999;
    flex-direction: row;
    align-items: center;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
    &__left{
        width: 260px;
        height: 100%;
        display: flex;
        float: left;
        align-items: center;
        -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
        -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
        box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
        &-text{
            color: #43425D;
            font-size: 15px;
            line-height: 21px;
            font-family: "Avenir";
            font-weight: 600;
            margin-left: 50px;
        }
    }
    &__middle{
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 25px;
        float: left;
        &-text{
            font-size: 28px;
            line-height: 32px;
            color: #43425D;
            font-family: Arial;
        }
    }
    &__right{
        display: flex;
        float: right;
        height: 100%;
        align-items: center;
        padding-right: 15px;
        &-notification{
            outline: none;
            border: none;
            cursor: pointer;
            padding: 0 20px;
            &-icon{
                width: 19px;
                height: 21px;
            }
        }
        &-amount{
            cursor: pointer;
            &-text{
                color: #43425D;
                font-size: 15px;
                line-height: 20px;
                font-family: "Avenir";
            }
        }
        &-name{
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            margin-right: 5px;
            outline: none;
            border: none;
            &-text{
                font-size: 15px;
                line-height: 25px;
                color: #43425D;
                font-family: "Avenir";
                margin-right: 5px;
            }
            &-downarrow{
                width: 11px;
                height: 7px;
                transform: rotate(0deg);
                transition: 0.2s linear all;
                &:hover{
                    transform: rotate(180deg);
                    transition: 0.4s linear all;
                }
                &[is-active = true]{
                    transform: rotate(180deg);
                    transition: 0.4s linear all;
                }
            }
            &:hover{
                .strike-navbar__right-name-downarrow{
                        transform: rotate(180deg);
                        transition: 0.4s linear all;
                }
            }
        }
    }
    &__menu{
        &-responsive{
            display: none;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100%;
            margin-right: 10px;
        }
    }
}

.line{
    width: 1px;
    height: 30px;
    background-color: #EBEBF2;
    margin: 0 10px;
}

.navbar-notifications{
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    top: 75px;
    right: 80px;
    width: 320px;
    max-height: 320px;
    overflow-y: scroll;
    background-color: #FAFAFA;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
    transition: 0.2s linear all;
    &[is-active = true]{
        opacity: 100;
        visibility: visible;
    }
    &__header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        background-color: white;
        border-bottom:1px solid #F1F1F3;
        color: #4D4F5C;
        font-size: 17px;
        line-height: 12px;
        font-family: "Avenir";
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60px;
        width: 100%;
        border-bottom:1px solid #F1F1F3;
        cursor: pointer;
        transition: 0.4s linear all;
        padding-left: 50px;
        &:hover{
            background-color: white;
        }
        &-title{
            color: #4D4F5C;
            font-size: 13px;
            line-height: 18px;
            font-family: "Avenir";
            font-weight: 600;
            margin-bottom: 3px;
        }
        &-subtitle{
            color: #43425D;
            font-size: 11px;
            line-height: 13px;
            font-family: "Avenir";
            opacity: 0.5;
        }
    }
    &__otheritems{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        &-text{
            font-size: 12px;
            line-height: 18px;
            color: #FECB2E;
            font-family: "Avenir";
            cursor: pointer;
            transition: 0.4s linear all;
            &:hover{
                color: #BA8F0B;
            }
        }
    }
}

.navbar-profile{
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 70px;
    right: 10px;
    width: 200px;
    max-height: 200px;
    overflow-y: scroll;
    background-color: transparent;
    transition: 0.2s linear all;
    display: flex;
    align-items: flex-end;
    &[is-active = true]{
        opacity: 100;
        visibility: visible;
    }
    &__toparrow{
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
        margin-right: 50px;
    }
    &__body{
        display: flex;
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: white;
        -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
        -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
        box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
        padding: 20px 0;
        &-item{
            cursor: pointer;
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #F1F1F3;
            &-text{
                font-size: 13px;
                line-height: 24px;
                color: #4D565C;
                font-family: "Avenir";
            }
        }
    }
}


@media only screen and (max-width: 700px) {
    .strike-navbar{
        background-color: #FFFFFF;
        width: 100%;
        height: 70px;
        position: fixed;
        top: 0;
        z-index: 1;
        flex-direction: row;
        align-items: center;
        -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
        -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
        box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
        &__left{
            width: 260px;
            height: 100%;
            display: flex;
            float: left;
            align-items: center;
            -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
            -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
            box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.04);
            &-text{
                color: #43425D;
                font-size: 15px;
                line-height: 21px;
                font-family: "Avenir";
                font-weight: 600;
                margin-left: 50px;
            }
        }
        &__middle{
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 25px;
            float: left;
            &-text{
                font-size: 12px;
                line-height: 22px;
                color: #43425D;
                font-family: Arial;
            }
        }
        &__right{
            display: none;
        }
        &__menu{
            &-responsive{
                font-size: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 100%;
                margin-right: 10px;
                cursor: pointer;
            }
        }
    }
  }